<%= form_for(@book) do |form| %>
    <div class="field">
        <%= form.label :isbn %>
        <%= form.text_field :isbn, size: 25 %>
    </div>
    <br />
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, size: 25 %>
    </div>
    <br />
    <div class="field">
        <%= form.label :price %>
        <%= form.text_field :price, size: 25 %>
    </div>
    <br />
    <div class="field">
        <%= form.label :publish %>
        <%= form.text_field :publish, size: 25 %>
    </div>
    <br />
    <div class="field">
        <%= form.label :published %>
        <%= form.text_field :published, size: 25 %>
    </div>
    <br />
    <div class="field">
        <%= form.label :dl %>
        <%= form.text_field :dl, size: 25 %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>